bower_components
node_modules
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.cachefile
*.bak
*.log
*.ncb
*.DS_Store
*.Generated.cs
*.Generated.Event.cs
*.mep
*.sep
*.pesix
[Tt]humbs.db
*.Cache
*.sublime-project
*.sublime-workspace
.vs/
build
dist